
*.iml
.idea/vcs.xml
weather_wizard_backend/instance/data.sqlite
*.pyc
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
weather_wizard_backend/Database/__pycache__/db_get.cpython-310.pyc
weather_wizard_backend/Database/__pycache__/db_setup.cpython-310.pyc
.idea/sqldialects.xml
weather_wizard_backend/Database/__pycache__/db_setup.cpython-310.pyc
weather_wizard_backend/Database/__pycache__/db_get.cpython-310.pyc
*.xml
weather_wizard_backend/.idea/Lab_4_Liu_Caleb.iml
weather_wizard_backend/weather.db
weather_wizard_backend/Database/__pycache__/db_setup.cpython-310.pyc
weather_wizard_backend/Database/__pycache__/db_get.cpython-310.pyc
*.pyc
*.pyc
*.pyc
*.pyc
weather_wizard_backend/.idea/dataSources/f88b916a-5074-4f9a-82ab-80d1c78ce1ea/storage_v2/_src_/schema/main.uQUzAA.meta
*.xml
*.meta
*.pyc
*.pyc
*.pyc
*.xml
